@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <body>

        <b>Parameter from appsettings:</b> @ViewBag.result1
        <br />
    </body>

    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>


    <p>!!!!!!!HELLO!!!!!</p>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
